.footer {
  width: 100%;
  background-color: $light-bottom-section;
  font-size: 15px;
  color: #70757a;
  position: absolute;
  bottom: 0;

  .top {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .box {
      display: flex;
      flex: 1;
    }

    .leftSide {
      justify-content: left;
      white-space: nowrap;
      overflow: hidden;
    }

    .middleSide {
      justify-content: center;
      img {
        width: 14px;
        height: auto;
      }
    }

    .rightSide {
      justify-content: right;
      white-space: nowrap;
      overflow: hidden;
    }

    a {
      font-size: 15px;
      color: #70757a;
      text-decoration: none;
      padding: 0px 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
