.footer {
  background-color: $light-bottom-section;
  font-size: 15px;
  color: #70757a;

  .top {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 48px;

    .box {
      flex: 1;
      display: flex;
    }
    .leftSide {
      justify-content: left;
    }

    .middleSide {
      justify-content: center;
      img {
        width: 14px;
        height: auto;
      }
    }

    .rightSide {
      justify-content: right;
    }

    a {
      font-size: 15px;
      color: #70757a;
      text-decoration: none;
      padding: 0px 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
