@mixin tooltip(
  $width,
  $bg-color,
  $font-size,
  $color: #fff,
  $border-radius: 0px,
  $padding: 0px,
  $margin-top: 0px
) {
  visibility: hidden;
  width: $width;
  background-color: $bg-color;
  font-size: $font-size;
  color: $color;
  text-align: center;
  border-radius: $border-radius;
  padding: $padding;

  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: $margin-top;
}
