$dark-theme-color: rgba(32, 33, 36, 255);
$dark-bottom-section: rgba(23, 23, 23, 255);
$dark-searchbar-highlight: rgba(48, 49, 52, 255);
$dark-color-button: rgba(48, 49, 52, 255);

$light-theme-color: rgba(255, 255, 255, 255);
$light-bottom-section: rgba(242, 242, 242, 255);
$light-searchbar-highlight: rgba(248, 249, 250, 255);
$light-color-button: rgba(248, 249, 250, 255);
$light-login-button: rgba(55, 112, 229, 255);
$light-login-button-hover: rgba(43, 125, 233, 255);
$light-text-color: rgba(0, 0, 0, 0.87);
