* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

.topBar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.topBar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  margin-right: 15px;
}

.topBar a:hover {
  text-decoration: underline;
}

.topBar .apps {
  color: #5f6368;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 12px;
}

.topBar .apps:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.topBar .loginBtn {
  height: 36px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #3770e5;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.topBar .loginBtn:hover {
  cursor: pointer;
  background-color: #2b7de9;
  -webkit-box-shadow: 0px 1px 5px -1px #3770e5;
          box-shadow: 0px 1px 5px -1px #3770e5;
}

.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .searchBar {
  width: 600px;
  height: 44px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px;
  margin: 25px 0px;
}

.content .searchBar:hover {
  -webkit-box-shadow: 0px 1px 10px -6px #303134;
          box-shadow: 0px 1px 10px -6px #303134;
}

.content .searchBar i {
  margin: 0px 8px;
}

.content .searchBar input[type="text"] {
  outline: none;
  width: 400px;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.content .searchBar .keyboardAndMicro {
  margin-left: auto;
}

.content .searchBtns button {
  width: 140px;
  height: 36px;
  margin: 0px 4px;
  border: none;
  background-color: #f8f9fa;
  font-size: 14px;
}

.content .searchBtns button:hover {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 0px 2px -1px #303134;
          box-shadow: 0px 0px 2px -1px #303134;
  cursor: pointer;
}

.footer {
  background-color: #f2f2f2;
  font-size: 15px;
  color: #70757a;
}

.footer .top {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
}

.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  height: 48px;
}

.footer .bottom .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .bottom .leftSide {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer .bottom .middleSide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .bottom .middleSide img {
  width: 14px;
  height: auto;
}

.footer .bottom .rightSide {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer .bottom a {
  font-size: 15px;
  color: #70757a;
  text-decoration: none;
  padding: 0px 15px;
}

.footer .bottom a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */